*,
::before,
::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

a{
  text-decoration: none;
}
.container {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

/* ------- Header ------- */
.ul-no{
    list-style-type: none;
}

.project-name {   
font-family: 'Bebas Neue';
font-style: normal;
font-weight: 400;
font-size: 46.56px;
line-height: 56px;

color: #6F6F6F;
}

.page-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 25px;
    margin-bottom: 20px;
   
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 14px;
}

/* ------ Hero Photo ------ */


.photo-hero{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

/* ------ Hero-video ------ */

.how-made {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.video-text {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
letter-spacing: -0.02em;

color: #111111;

margin-left: 55px;
}

.video-coments:not(:first-child){
    margin-top: 40px;
}


/* ------ Social-links ------ */
.socials-list{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 100px;

}

.icon-block {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  background: rgba(204, 184, 210, 0.68);
  border-radius: 99px;
  display: flex;
  align-items:center;
  margin-top: 45px;
  gap: 25px;
}


.icon-name{
  display: flex;
 justify-content: center;
 align-items: center;

 font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 34px;
/* or 85% */

letter-spacing: -0.02em;

color: #100F0F;


}


/* ------ About me ------ */


.about-me{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 120px;

  background: rgba(155, 141, 168, 0.8);
border-radius: 30px;


}

.about-me-text{
  display: block;
margin-left: 55px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 34px;
letter-spacing: -0.02em;

color: #FFFFFF;
margin-right: 30px;
}

.about-me-photo{
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    background: rgba(155, 141, 168, 0.8);
    border-radius: 30px;
}

/* ------ Footer ------ */

.footer{
  background: #9B8DA8;
  margin-top: 120px;
}

.first-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.first-footer-text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  /* or 100% */
  
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  
  color: #FFFFFF;
  
margin-left: 32px;
margin-top: 15px;
}

.footer-contact{
  display: flex;
flex-direction: column;
align-items: flex-start;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

text-align: center;
letter-spacing: -0.02em;

color: #FFFFFF;


margin-top: 20px;
margin-right: 80px;
margin-bottom: 20px;
}

.footer-contact > a{
  color: white;
  font-size: 15px;
}

.namecontact{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 18px;

text-align: center;

color: #FFFFFF;
  margin-bottom: 15px;
}


.second-footer{
display: flex;
align-items: center;
justify-content: space-between;
}


.second-links{
  margin-top: 12px;
margin-right: 40px;
margin-bottom: 20px;
}


.how-made-link{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;
margin-left: 32px;
}


.how-made-link > a{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 16px;

display: flex;
align-items: center;

letter-spacing: -0.02em;

color: #FFFFFF;
}




@media screen and (max-width: 375px) {
 
}

@media screen and (max-width: 768px) {
 
}

@media screen and (max-width: 1200px) {
  
}
