*,
::before,
::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}



:root {
  --buy-now: #FD9222;
  --buy-now-hover: #FCF1E0;
  --how-made: #1E1823;
  --button-background: #FAFAFA;
  --button-text: #FFFFFF;
  --elipse-b: #111111;
  --elipse-tf: #1E1823;
  --sliders: rgba(17, 17, 17, 0.1);
  --reviews-text: rgba(17, 17, 17, 0.7);
  --advantages-text: rgba(255, 255, 255, 0.7);
  --ul: #4C4C4C;
  --ul-color: #ECEDED;
  --border: rgba(255, 255, 255, 0.5);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --cubic-bezier: (0.075, 0.82, 0.165, 1);
  --shadow: rgba(215, 228, 249, 0.25);
  --chocolate: rgba(253, 146, 34, 1);
  --backdrop: rgba(25, 28, 38, 0.456);
  --placeholder-color: rgba(64, 64, 64, 0.3);
  --border: 1.5px solid rgba(17, 17, 17, 0.05);
  --filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --wrapper-width: 335px;
}


a{
  text-decoration: none;
}
.container {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

/* ------- Header ------- */
.ul-no{
    list-style-type: none;
}



.project-name {   
font-family: 'Bebas Neue';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;

color: #6F6F6F;

}

.page-header {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 80px;
    gap: 5px;
    
}

/* ------ Hero Photo ------ */

.photo-hero {
  width: 300px;
  height: 400px;
  line-height: var(--wrapper-width);
  background: #fff url(./img/Start\ page.jpg) no-repeat
     center;
     background-size;
  border: 10px rgba(155, 141, 168, 0.8);  
  border-radius: 5px;
  box-shadow: none;
  background-size: cover;
  margin-left: 10px;
  margin-right: 10px;
  
}


/* ------ Hero-video ------ */

.how-made {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-left: auto;
}

.video-hero{

margin-left: auto;
margin-right: auto;
}

.video-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 10px;
letter-spacing: -0.02em;

color: #111111;

margin-left: auto;
margin-right: auto;
}

.video-coments:not(:first-child){
    margin-top: 14px;
}


/* ------ Social-links ------ */
.socials-list{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 50px;

}

.icon-block {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgba(204, 184, 210, 0.68);
  border-radius: 939px;
  display: flex;
  align-items:center;
  margin-top: 20px;
  gap: 15px;
}


.icon-name{
  display: flex;
 justify-content: center;
 align-items: center;

 font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
/* or 85% */

letter-spacing: -0.02em;

color: #100F0F;


}


/* ------ About me ------ */


.about-me{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;

  background: rgba(155, 141, 168, 0.8);
border-radius: 20px;

margin-left: auto;
margin-right: auto;

}

.about-me-text{
display: block;
margin-left: 15px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 6px;
line-height: 7px;
letter-spacing: -0.02em;

color: #FFFFFF;
margin-right: 20px;
}

.about-me-photo{
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}




/*--------- Subscribe------- */




.section-subscribe {
  margin-top: 80px;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: background-color 250ms var(--cubic-bezier),
  color 250ms var(--cubic-bezier);
  margin-right: 20px;
  margin-left: 20px;
  background-color: rgba(155, 141, 168, 0.8);;
  border-radius: 20px;
  margin-left: auto;
margin-right: auto;
}


.titel-subscribe{
margin-left: auto;
margin-right: auto;
max-width: 291px;
text-align: center;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;    
font-size: 10px;
line-height: 1.2;
letter-spacing: -0.03em;
color: #fff;
margin-bottom: 24px;

}

.text-subscribe{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.29;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  margin-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

.button-subscribe{
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 128px;
  height: 31px;
  background-color: #FD9222;
  border: 1px solid #FD9222;
  border-radius: 100px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 28px;
  padding-right: 28px;
  color: #fff;
  font-family: 'Montserrat';
      font-weight: 600;
      font-size: 14px;
      line-height: 1.2;
  transition: background-color 250ms var(--cubic-bezier),
          color 250ms var(--cubic-bezier);
}
.button-subscribe:is(:hover, :focus) {
  background-color: #FCF1E0;
  color: #FD9222;
  border: 1px solid #FCF1E0;
}
/* 
@media screen and (min-width: 380px) {
  .section-subscribe .container {
      width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .section-subscribe .container {
      width: 744px;
      justify-content: center;
      padding-top: 72px;
       padding-bottom: 72px;
       background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                  url(./img/cherry_blossom.jpg);
  }
      .titel-subscribe{
              width: 378px;
              font-size: 24px;
              line-height: 1.16;
              letter-spacing: -0.03em;
          }
      .text-subscribe {
          color: #fff;
          width: 467px;
          justify-content: center;

      }
              .button-subscribe {
                  width: 172px;
                  height: 50px;
                  font-size: 18px;
                  line-height: 1.2;
              }
}

@media screen and (min-width: 1200px) {
  .section-subscribe .container {
      width: 1176px;
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
              url(./img/cherry_blossom.jpg);
  }
} */




/* ------ Footer ------ */

.footer{
  background: #9B8DA8;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
}

.first-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first-footer-text{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 14px;
/* or 121% */

letter-spacing: -0.02em;

color: #FFFFFF;
  
margin-left: 20px;

}

.footer-contact{
  display: flex;
flex-direction: column;
align-items: flex-start;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 10px;

text-align: center;
letter-spacing: -0.02em;

color: #FFFFFF;


margin-top: 15px;
margin-right: 20px;
margin-bottom: 20px;
}


.footer-contact > a{
  color: white;
  font-size: 15px;

  
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 8px;

text-align: center;
letter-spacing: -0.02em;

color: #FFFFFF;

}

.namecontact{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 10px;

text-align: center;

color: #FFFFFF;
  margin-bottom: 15px;
}


.second-footer{
display: flex;
align-items: center;
justify-content: space-between;
}


.second-links{
  margin-top: 15px;
margin-bottom: 20px;
gap: 5px;
}


.how-made-link{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;
margin-left: 20px;
}


.how-made-link > a{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 8px;
line-height: 8px;


display: flex;
align-items: center;

letter-spacing: -0.02em;

color: #FFFFFF;
}







/*-------- Modal --------*/




.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


/* Overlay */
.explore-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

/* Modal Window */
.explore-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 220px;
  /* background-color: var(--button-background); */
  background-image: url(./img/Video.jpg);
  background-size: contain;
  background-repeat: no-repeat;

  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms var(--cubic);
}

/* @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .explore-modal {
    background-image: url(./img/Video.jpg);
  }
} */

.explore-backdrop.is-hidden .explore-modal {
  transform: translate(-50%, -50%) scaleY(0);
}

/* Modal Close Button */
.explore-modal-close {
  display: block;
  margin: 5px 10px 10px auto;
  background-color: transparent;
  padding: 0;
  border: none;
  color: var(--button-text);
  transition: color 250ms var(--cubic);
}

.explore-modal-close:is(:hover, :focus) {
  color: var(--buy-now);
}

.explore-modal-close-icon {
  width: 8px;
  height: 8px;
  fill: currentColor;
}

.explore-modal-title {
  font-weight: 600;
  font-size: 7px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--elipse-b);
  max-width: 260px;
  background-color: #9B8DA8;
  border-radius: 30px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 150px;
  margin-bottom: 10px;
  margin-top: 70px;
}

.explore-modal-title span {
  color: var(--buy-now);
}

.explore-subscribe {
  padding: 32px 24px;
}

/* Form */
.explore-subscribe-input-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* outline: 1px solid red; */
}

.explore-subscribe-input {
  display: flex;
  align-items: flex-start;
  width: 100px;
  max-width:380px;
  height: 25px;
  padding-left: 10px;
  
  border: var(--border);
  filter: var(--filter);
  border-radius: 25px;
  background-color: #FFFFFF;
  /* outline: transparent; */
}

.explore-subscribe-input::placeholder {
  
  font-size: 7px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--placeholder-color);
}

.explore-subscribe-submit {
  position: absolute;
  right: 0;
  font-weight: 600;
  font-size: 6px;
  line-height: 1.21;
  text-align: center;
  color: var(--button-text);
  width: 40px;
  height: 25px;
  
  margin-right: 110px;
  background-color: var(--buy-now);
  border-radius: 100px;
  border: var(--border);
  filter: var(--filter);

  transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
}

.explore-subscribe-submit:is(:hover, :focus) {
  color: var(--buy-now);
  background-color: var(--buy-now-hover);
}

/* Mobile Styles */
/* @media screen and (min-width: 375px) {
  .explore-modal {
    width: 311px;
    height: 350px;
  }
} */

/* Tablet Styles
@media screen and (min-width: 768px) {
  .explore-modal {
    width: 538px;
    height: 412px;
    background-image: url(./img/Video.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .explore-modal {
      background-image: url(./img/Video.jpg);
    }
  }

  .explore-modal-close {
    margin: 31px 31px 151px auto;
  }

  .explore-subscribe {
    padding: 40px;
  }

  .explore-subscribe-input {
    width: 313px;
    height: 52px;
    padding: 14px 18px;
  }

  .explore-subscribe-input::placeholder {
    font-size: 18px;
  }

  .explore-subscribe-submit {
    position: unset;
    width: 137px;
    height: 52px;
  }
} */
